table{
    border: 1px solid rgb(255, 0, 0);
    border-collapse: collapse;
    /* width: 100%; */
    border-spacing: 10px;
}

td, th{
    font-size: 30px;
    border: 3px;
    padding: 10px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 100px;
    border-style: dotted;
    border-color: blue;
    height: 50px;
}

/* strange */
/* tr:nth-child(even){
    background-color: darkblue;
} */

th:nth-child(even){
    background-color: cyan;
}

td:nth-child(odd){
    background-color: crimson;
}
th:hover{
    background-color: rgb(47, 0, 90);
}
td:hover{
    background-color: dimgray;
}

.testclass1{
    color: blueviolet;
    font-size: 20px;
}

.testclass2{
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

#idTest{
    color: burlywood;
}

#testTest{
    font-size: 30px;
}

iframe{
    border: none;
}